/*Assignment 2 Responsive Portfolio style3.css*/

*{
    box-sizing: border-box;
}

body {
    background-color: #EBEBEB;
}

a:link {
    color: #aaa;
    text-decoration: none;
}

a:visited {
    color: #aaa
}

#largeHeaderBox {
    color: #eee;
    height: 85px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #cccc;
    position: absolute;
    left: 0px;
    top: 0px;
}

#smallHeaderBox{
    height: 85px;
    width: 960px;
    color: #63A8A4;
    font-size: 20px;
    background-color: white;
    border-bottom: 1px solid #cccc;
    position: relative;
    top: 0px;
    margin-left: auto;
    margin-right: auto;  
}

#linkBox {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
    height: 85px;
    width: auto;
    padding-top: 30px;   
    background-color: white;
    border-bottom: 1px solid #cccc;
    float: right;
}

#nameBox {
    height: 85px;
    width: 250px;
    color: white;
    text-align: center;
    font-size:20px;
    background-color: #63A8A4;
    float: left;
}

#portfolio {
    clear: both;
    height: 700px;
    width: 960px;
    color: #63A8A4;
    font-size: 20px;
    border: .5px solid #ddd;
    background-color: white;
    position: relative;
    top: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    padding-left: 30px;
    padding-right: 30px; 
}

img {
    display: block;
    height: 153px;
    width: 220px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
}

 .clearfix::after {
     content: "";
     display: block;
     clear: both;
 }
 
#footer {
    clear: both;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #BBBBBB;
    height: 70px;
    width: 100%;
    padding-top: 40px;
    border-top: 8px solid #63A8A4;
    background-color: #616161;
    position: fixed;
    left: 0px; 
    bottom: 0px;
}

#captionHangman {
    height: 42px;
    width: 220px;
    color: white;
    text-align: center;
    font-size:11px;
    padding-top: 1px 0;
    background-color: #63A8A4;
    position: absolute;
    left: 30px;
    top: 220px;
}

#captionRPG {
    height: 42px;
    width: 220px;
    color: white;
    text-align: center;
    font-size:11px;
    padding-top: 1px 0;
    background-color: #63A8A4;
    position: absolute;
    left: 290px;
    top: 220px;
}

#captionTrivia {
    height: 42px;
    width: 220px;
    color: white;
    text-align: center;
    font-size:11px;
    padding-top: 1px 0;
    background-color: #63A8A4;
    position: absolute;
    left: 30px;
    top: 414px;
}

#captionWidget {
    height: 42px;
    width: 220px;
    color: white;
    text-align: center;
    font-size:11px;
    padding-top: 1px 0;
    background-color: #63A8A4;
    position: absolute;
    left: 290px;
    top: 414px;
}
#captionRockPaperScissors {
    height: 42px;
    width: 220px;
    color: white;
    text-align: center;
    font-size:11px;
    padding-top: 1px 0;
    background-color: #63A8A4;
    position: absolute;
    left: 30px;
    top: 607px;
}


@media screen and (max-width: 980px) {
    
    #portfolio {
        width: 670px;
        height: 730px;
        margin-bottom: 120px;
        }

    #portfolio h2 {
        margin-left: 45px;
    }

    #portfolio hr {
        margin-left: 45px;
        margin-right: 45px;
    }

    #smallHeaderBox{
        width: 74%;
        }

    img {
        height: 163px;
        width: 220px;
        margin-right: 32px;
        margin-left: 45px;
    }

    #captionHangman {
        left: 75px;
        top: 228px;
    }

    #captionRPG {
        left: 372px;
        top: 228px;
    }
  
    #captionTrivia {
        left: 75px;
        top: 432px;
    }

    #captionWidget {
        left: 372px;
        top: 432px;
    }

    #captionRockPaperScissors {
        left: 75px;
        top: 636px;
    }

}
    

@media screen and (max-width: 768px) {

    #portfolio {
        width: 600px;
        height: 770px;
        margin-bottom: 120px;
        padding-right: 0px;
        padding-left: 0px;
        }

    #portfolio h2{
        margin-left: 25px;
    }

    #portfolio hr {
        margin-left: 26px;
        margin-right: 26px;
    }
        
    #smallHeaderBox{
        width: 79%;
    }
   
    img {
        height: 180px;
        width: 260px;
        margin-right: 0px;
        margin-left: 25px;
    }

    #captionHangman {
        font-size: 12px;
        height: 45px;
        width: 260px;
        left: 25px;
        top: 242px;
    }

    #captionRPG {
        font-size: 12px;
        height: 45px;
        width: 260px;
        left: 310px;
        top: 242px;
    }
  
    #captionTrivia {
        font-size: 12px;
        height: 45px;
        width: 260px;
        left: 25px;
        top: 463px;
    }

    #captionWidget {
        font-size: 12px;
        height: 45px;
        width: 260px;
        left: 310px;
        top: 463px;
    }

    #captionRockPaperScissors {
        font-size: 12px;
        height: 45px;
        width: 260px;
        left: 25px;
        top: 684px;
    }

    #nameBox{
        width: 230px;
    }

    #linkBox {
        padding-right: 3%;
    }

    #largeHeaderBox {
        background-color: #EBEBEB;
        border-bottom: 0px solid #EBEBEB;
        }
}

    @media screen and (max-width: 640px) {

        #portfolio {
            width: 400px;
            height: 1420px;
            margin-bottom: 120px;
            }
        
        #nameBox {
            width: 100%;
            height: 75%;
            font-size: .85em;
        }

        #linkBox {
            width: 100%;
            height: 55%;
            font-size: .85em;
            text-align: center;
            padding-top: 4%;
        }

        img {
            height: 220px;
            width: 336px;
        }

        #captionHangman {
            width: 336px;
            height: 50px;
            top: 275px;
            font-size: 12px;
        }

        #captionRPG {
            width: 336px;
            height: 50px;
            left: 25px;
            top: 535px;
        }

        #captionTrivia {
            width: 336px;
            height: 50px;
            left: 25px;
            top: 795px;
        }

        #captionWidget {
            width: 336px;
            height: 50px;
            left: 25px;
            top: 1055px;
        }

        #captionRockPaperScissors {
            width: 336px;
            height: 50px;
            left: 25px;
            top: 1315px;
        }
    }